@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'sans-serif';
}

html{
    scroll-behavior: smooth;
}

section{
    scroll-margin-top: 120px;
}

/* BOTON WHATSAPP */
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.float:hover {
    text-decoration: none;
    color: #FFF;
    background-color:#1ab152;
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.my-float{
    margin-top:16px;
}

.pulse{
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow :0 0 0 0px #25d36657; rgba:(0, 0, 0, 0.2);
    }
    100% {
    box-shadow :0 0 0 20px rgba(0, 0, 0, 0);
    }
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px 10%;
}

header.scrolled{
    height: 90px;
    background-color: rgba(255,255,255,0.95);
    backdrop-filter: blur(10px);
    transition: 0.7s;
}

header .header-logo img{
    height: 80px;
    width: auto;
    transition: all 0.3s;
}

header .header-logo img:hover{
    transform: scale(1.05)
}

header .header-logo{
    display: flex;
    align-items: center;
    gap: 20px; /* espacio entre logo y texto */
    cursor: pointer;
}

header h1{
    font-size: 22px;
    background: linear-gradient(to right, #2097C2, #047FB0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 700;
}

header .nav-links{
    list-style: none;
}

header .nav-links li{
    font-size: 18px;
    display: inline-block;
    padding: 0 20px;
}

header .nav-links li:hover{
    color: #2097c2;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

header .nav-links a{
    font-size: 700;
    text-decoration: none;
}

header .nav-links a:hover{
    color: #ed585e;
}

header .nav-links a:visited{
    color: inherit;
}

header button{
    padding: 12px 24px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    background: linear-gradient(to right, #2097C2, #047FB0);
    color: #ffff;
    transition: all 0.3s;
}

header button:hover{
    transform: scale(1.05);
}

/* INICIO */
#inicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    gap: 50px;
    background-color: #f4fbfb;
    margin-top: 100px;
}

.contenido-inicio{
    max-width: 600px;
}

#inicio h3{
    display: inline-block;
    background-color: #ffdad7;
    color: #ed585e;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.titulo-inicio{
    font-size: 55px;
    font-weight: 700;
    color: #2097c2;
    margin-bottom: 20px;
}

.descripcion-inicio{
    font-size: 20px;
    color: #3f484f;
    line-height: 1.6;
    margin-bottom: 30px;
}

#inicio a{
    text-decoration: none;
}

#inicio button{
    padding: 12px 24px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.3s;
    margin-bottom: 30px;
}

/* botón rojo */
#inicio a:first-of-type button{
    background: linear-gradient(to right, #C84346, #ED585E);
    color: #ffff;
    transition: all 0.3s;
}

#inicio a:first-of-type button:hover{
    transform: scale(1.05)
}

/* botón outline */
#inicio a:last-of-type button{
    background-color: transparent;
    border: 1px solid rgba(32, 151, 194, 0.5);
    color: #2097C2;
}

#inicio a:last-of-type button:hover{
    transform: scale(1.05)
}

.imagen-container{
    position: relative;
}

.imagen-container img{
    width: 600px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.carta-flotante{
    position: absolute;
    bottom: 25px;
    right: -80px;
    background: #ffff;
    border-radius: 15px;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.icono-inicio{
    background: #ffdad7;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.titulo-card{
    font-size: 16px;
    font-weight: 600;
}

.carta-flotante span{
    font-size: 14px;
}

/* SOBRE NOSOTROS */
#aboutUs{
    background-color: #EEF5F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
}

.imagenes-aboutUs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.imagenes-aboutUs img{
    width: 365px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
/* EFECTO DESNIVELADO */
.imagenes-aboutUs img:first-child{
    margin-top: 40px;
}
.imagenes-aboutUs img:last-child{
    margin-bottom: 40px;
}

.contenido-aboutUs{
    max-width: 600px;
}

.contenido-aboutUs h3{
    display: inline-block;
    background-color: #C6E7FF;
    color: #2097c2;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.titulo-aboutUs{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.descripcion-aboutUs{
    font-size: 20px;
    color: #3f484f;
    line-height: 1.6;
    margin-bottom: 30px;
}

.logos-aboutUs{
    display: grid;
    gap: 20px;
}

.logos-aboutUs svg{
    color: #ED585E;
    width: 40px;
    height: 40px;
}

.descripcion-logos-aboutUs{
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.descripcion-logos-aboutUs h2{
    font-size: 18px;
    margin-bottom: 5px;
}

.descripcion-logos-aboutUs p{
    font-size: 14px;
    color: #6b7280;
}

.descripcion-logos-aboutUs div{
    display: flex;
    flex-direction: column;
}


/* NUESTROS SERVICIOS */
#nuestros-servicios{
    background-color: #f4fbfb;
    padding: 80px 10%;
}

#nuestros-servicios h3{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.descripcion-nuestros-srv{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.tarjetas-container{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.tarjetas-servicios{
    background-color: #ffff;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px;
    width: fit-content;
    box-shadow: 0 10px 30px rgba(116, 116, 116, 0.1);
}

.tarjetas-servicios:hover{
    background-color: #ebe4e4;
    color: #000000;
    transition: 0.4s;
    border: 2px solid rgb(255, 255, 255);

}

.tarjetas-servicios:hover button{
    background: linear-gradient(to right, #C84346, #ED585E);
    transition: 0.4s;
}

.tarjetas-servicios:hover svg{
    background-color: #ffdad7;
    color: #ed585e;
}

.tarjetas-servicios svg{
    width: 55px;
    height: 50px;
    padding: 8px;
    background-color: #C6E7FF;
    color: #2097c2;
    border-radius: 15px;
    margin-bottom: 10px;
}

.tarjetas-servicios h2{
    font-size: 26px;
    margin-bottom: 10px;
}

.tarjetas-servicios p{
    font-size: 18px;
    margin-bottom: 15px;
}

.tarjetas-servicios button{
    padding: 12px 24px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    background: linear-gradient(to right, #2097C2, #047FB0);
    color: #ffff;
    transition: all 0.3s;
}

.tarjetas-servicios button:hover{
    transform: scale(1.05);
}

/* POPUP */
.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 2000;
}

.popup-overlay.active{
    opacity: 1;
    visibility: visible;
}

.contenido-popup{
    display: flex;
    background: #ffff;
    width: 800px;
    height: 750px;
    border-radius: 20px;
    margin: 60px 25%;

    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.popup-overlay.active .contenido-popup{
    transform: scale(1);
    opacity: 1;
}

.cerrar-popup{
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background: #ffc3c5;
    color: #ED585E;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-weight: bold;
}

.cerrar-popup:hover{
    background: #ED585E;
    color: #ffc3c5;
    transition: 0.3s;
}

.badge{
    background: #C6E7FF;
    color: #2097C2;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
}

.popup-info{
    padding: 40px;
    width: 60%;
    max-height: 750px;
    overflow-y: auto;
}

.popup-info::-webkit-scrollbar{
    width: 6px;
}

.popup-info::-webkit-scrollbar-thumb{
    background: #EEF5F6;
    border-radius: 10px;
}

.popup-info h2{
    margin: 15px 0;
    color: #2097C2;
}

.popup-info p{
    font-size: 15px;
    color: #555;
    line-height: 1.6;
}

.popup-detalles{
    margin: 20px 0;
}

.popup-detalles div{
    background: #EEF5F6;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.popup-detalles div:hover{
    transform: translateX(6px);
    transition: 0.4s;
}

.popup-detalles div p{
    padding: 0 5px;
}

#popupDescripcion{
    white-space: pre-line;
    text-align: justify;
}

.incluye{
    background: #EFFBFE;
    margin-top: 10px;
    border-radius: 20px;
    padding: 15px;
}

.incluye h4{
    color: #2097C2;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.incluye li{
    list-style: none;
    margin-bottom: 6px;
}

.popup-img{
    width: 40%;
    position: relative;
}

.popup-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
}

.overlay-texto{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ffff;
    font-weight: bold;
    text-align: center;
}




/* TALLERES */
#talleres{
    display: flex;
    flex-direction: column;
    background-color: #EEF5F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
}

.header-talleres{
    text-align: center;
    margin-bottom: 50px;
}

.header-talleres h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.header-talleres p{
    font-size: 18px;
}

.talleres-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.taller{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 70px;
}

.taller.reverse .taller-img{
    order: 2;
}

.taller.reverse .taller-img{
    order: 1;
}

.taller-info{
    max-width: 600px;
}

.taller-info h2{
    font-size: 26px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.taller-info p{
    font-size: 20px;
    margin-bottom: 15px;
    text-align: justify;
}

.tag{
    display: inline-block;
    background-color: #ffc3c5;
    color: #ED585E;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.tag.blue{
    background-color: #C6E7FF;
    color: #2097c2;
    font-weight: 700;
}

.taller-aforo p{
    font-size: 18px;
    margin-bottom: 15px;
}

.taller-info button{
    padding: 12px 24px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;

    background: linear-gradient(to right, #C84346, #ED585E);
    color: #ffff;
    transition: all 0.3s;
}

.taller-info button:hover{
    transform: scale(1.05);
}

.taller-img{
    display: flex;
    justify-content: center;
    max-width: 700px;
}

.taller-img img{
    width: 680px;
    height: 500px;
    border-radius: 20px;
    object-fit:fill;
    box-shadow: 0 10px 30px rgba(0,0,0,0,0.1);
}


/* TESTIMONIOS */
#testimonios{
    background-color: #f4fbfb;
    padding: 80px 10%;
}

.header-testimonios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}


.controles{
    display: flex;
    gap: 10px;
}

.controles button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #e5e7eb;
    transition: 0.3s;
}

.controles button:last-child{
    background-color: #ED585E;
    color: #ffff;
}

.controles button:first-child{
    background-color: #ffc3c5;
    color: #ffff;
}

.controles button:hover{
    transform: scale(1.1);
}
.testimonios-wrapper{
    overflow: hidden;
}

.testimonios-container{
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease;
}

.titulo-testimonios{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.desc-testimonios{
    font-size: 20px;
}

.testimonios-container{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.tarjeta-testimonios{
    position: relative;
    background-color: #ffff;
    border-radius: 20px;
    padding: 30px;
    width: fit-content;
    box-shadow: 0 10px 30px rgba(116, 116, 116, 0.1);
}

.tarjeta-testimonios:hover{
    transform: translateY(-6px);
    transition: 0.4s;
}

.comillas{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 60px;
    color: #dbeafe;
    font-weight: bold;
}

.texto-testimonio{
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.usuario{
    display: flex;
    align-items: center;
    gap: 12px;
}

.usuario img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.usuario h3{
    font-size: 14px;
    margin: 0;
}

.usuario span{
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #C84346;
}

.tarjeta-testimonios h3{
    font-size: 18px;
}

.tarjeta-testimonios h4{
    font-size: 14px;
}

/* CONTACTANOS */
#contactanos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EEF5F6;
    padding: 80px 10%;
}


.contenido-contactanos h3{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.desc-contactanos{
    font-size: 20px;
    color: #3f484f;
    line-height: 1.6;
    margin-bottom: 30px;
}

.tarjeta-contacto{
    display: flex;
    background-color: #ffff;
    border-radius: 20px;
    width: 300px;
    padding: 10px;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 30px rgba(116, 116, 116, 0.1);
}

.tarjeta-contacto a{
    text-decoration: none;
}

.tarjeta-contacto:hover{
    transform: translateY(-6px);
    transition: 0.4s;
}

.contactos-container svg{
    width: 55px;
    height: 50px;
    padding: 8px;
    /* background-color: #ffff; */
    /* background-color: #C6E7FF;
    color: #2097c2; */
    background-color: #ffdad7;
    color: #ED585E;
    border-radius: 15px;
    /* margin-bottom: 15px; */
}

.contactos-container{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.logo-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-contacto{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.titulo-contacto{
    color: #2097c2;
    font-size: 18px;
}

.logo-contacto p{
    font-size: 18px;
    
}

.contactos-container{
    display: flex;
    gap: 20px;
}

.imagen-contactanos{
    margin-left: 20px;
}

.imagen-contactanos img{
    width: 550px;
    height: 100%;
    border-radius: 20px;
}



/* FOOTER */
footer{
    background-color: #f4fbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    height: 120px;
}

footer .footer-logo img{
    height: 80px;
    width: auto;
    transition: all 0.3s;
}

footer .footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

footer h1{
    font-size: 22px;
    background: linear-gradient(to right, #2097C2, #047FB0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 700;
}

.socialMedia-footer svg{
    width: 25px;
    height: 25px;
    color: #2097C2;
    transition: 0.3s;
}

.socialMedia-footer svg:hover{
    color:#ED585E;
    cursor: pointer;
    transform: scale(1.05);
}

.socialMedia-footer{
    display: flex;
    gap: 20px;
}
